/* C:\Users\Nguyen Phuc\Web\tingrandom\components\Wheel\GlassCylinder.module.css */

.container {
  position: relative;
  width: 100%;
  max-width: 850px;
  height: 750px;
  margin: 0 auto;
  perspective: 2800px;
  overflow: hidden;
}

.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 100%;
  transform-style: preserve-3d;
}

.cylinder {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cylinderInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

@media (max-width: 768px) {
  .container {
    height: 650px;
  }
  
  .stage {
    width: 95%;
  }
}
